public/assets/fonts/*
public/assets/styles/*
public/assets/scripts/*
public/assets/images/*
frontend/components
node_modules
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
