<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/assets/styles/bootstrap.css' />
  </head>
  <body>
    <h1><%= title %> web development</h1>
    <p>Welcome to <%= title %></p>

    <script src="/assets/scripts/app.js"></script>
  </body>
</html>
