<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory --> 
  <title><%= title %></title>
  <link rel='stylesheet' href='/assets/styles/bootstrap.css' />
  </head>
  <body>
    <h1><%= title %> web development</h1>
    <p>Welcome to <%= title %></p>
    <p> this is the best boilerplate!</p>
    <script src="/assets/scripts/app.js"></script>
  </body>
</html>
